<p id="notice"><%= notice %></p>

<p>
  <b>Typeprogramme:</b>
  <%= @programme.typeprogramme %>
</p>

<p>
  <b>Nom:</b>
  <%= @programme.nom %>
</p>

<p>
  <b>Langue:</b>
  <%= @programme.langue %>
</p>

<p>
  <b>Age:</b>
  <%= @programme.age %>
</p>

<p>
  <b>Duree:</b>
  <%= @programme.duree %>
</p>

<p>
  <b>Contactfr:</b>
  <%= @programme.contactfr %>
</p>

<p>
  <b>Telfr:</b>
  <%= @programme.telfr %>
</p>

<p>
  <b>Mailfr:</b>
  <%= @programme.mailfr %>
</p>

<p>
  <b>Sitefr:</b>
  <%= @programme.sitefr %>
</p>

<p>
  <b>Contactis:</b>
  <%= @programme.contactis %>
</p>

<p>
  <b>Telis:</b>
  <%= @programme.telis %>
</p>

<p>
  <b>Mailis:</b>
  <%= @programme.mailis %>
</p>

<p>
  <b>Siteis:</b>
  <%= @programme.siteis %>
</p>


<%= link_to 'Edit', edit_programme_path(@programme) %> |
<%= link_to 'Back', programmes_path %>
