<h1>Ici est la liste de tous les personnes qui ont cherché à vous contacter</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Mail</th>
    <th>Motivation</th>
    <th>Questioncommentaire</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.nom %></td>
    <td><%= contact.prenom %></td>
    <td><%= contact.mail %></td>
    <td><%= contact.motivation %></td>
    <td><%= contact.questioncommentaire %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
