<h1>Ici les évènements qui seront disponible sur l'application</h1>

<table>
  <tr>
    <th>Typeevenement</th>
    <th>Auteur</th>
    <th>Date</th>
    <th>Titre</th>
    <th>Thumbimage</th>
    <th>Fallimage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @evenements.each do |evenement| %>
  <tr>
    <td><%= evenement.typeevenement %></td>
    <td><%= evenement.auteur %></td>
    <td><%= evenement.date %></td>
    <td><%= evenement.titre %></td>
    <td><%= evenement.thumbimage %></td>
    <td><%= evenement.fallimage %></td>
    <td><%= link_to 'Show', evenement %></td>
    <td><%= link_to 'Edit', edit_evenement_path(evenement) %></td>
    <td><%= link_to 'Destroy', evenement, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Evenement', new_evenement_path %>
